@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --cor-cinza-1: #D9DADC;
  --cor-cinza-2: #A7A7A7;
  --cor-cinza-3: #4A4D55;
  --cor-azul: #324065;
  --cor-branca: #FFFFFF;
  --cor-amarela: #DDC700;
  --fonte-padrao: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-padrao);
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--cor-branca);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 60px;
}
.logo-text {
  width: 150px;
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: var(--cor-azul);
  font-weight: bold;
  word-wrap: break-word;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  padding: 0 15px;
}

.nav-list a {
  text-decoration: none;
  color: var(--cor-azul);
  font-size: 16px;
  font-weight: bold;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line1, .line2, .line3 {
  width: 30px;
  height: 3px;
  background-color: var(--cor-azul);
  margin: 5px 0;
}

.section {
  background-color: var(--cor-branca);
  padding: 80px 50px ;
}

.banner {
  margin-top: 80px;
  display: flex;
  align-items: center;
  background: url("assets/image/background.png") no-repeat center center;
  background-size: cover;
  height: 88vh;
}

.banner-text {
  color: var(--cor-azul);
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  width: 80%;
  height: 500px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 120px 0px;
}

.title {
  color: var(--cor-azul);
  font-weight: 500;
  font-size: 40px;
}

.double-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 40px;
}

.text {
  flex: 5;
  margin-right: 20px;
  width: auto;
  height: auto;
  text-align: left;
  color: var(--cor-cinza-3);
  font-size: 38px;
}

.image {
  width: 40%;
}


.card-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0 20px;
  margin: 20px 0px;
}

.card-model{
  flex: 0 0 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 10px;
}

.card-model:hover{
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
  border-radius: 0 0 32px 32px;
}

.card-title {
  color: var(--cor-azul);
  margin-bottom: 10px;
}

.card-text {
  color: var(--cor-cinza-3);
  font-size: 16px;
  line-height: 1.5;
}

.card-vector {
  width: 80px;
  height: auto;
  margin-bottom: -20px;
}

#how-we-do .double-column {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

#how-we-do .card-group-topic {
  flex: 1;
  max-width: 45%; 
  background-color: var(--cor-azul);
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

#how-we-do .text, .card-group-topic {
  flex: 1;
  max-width: 45%;
  display: flex;
  flex-direction: column;
}

#how-we-do .text {
  color: var(--cor-cinza-3);
  font-size: 28px;
  margin: 0 10px;
  padding: 20px;
  background-color: var(--cor-cinza-1);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.card-group-topic {
  background-color: var(--cor-azul);
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.card-text-topic {
  color: var(--cor-branca); 
  font-size: 16px; 
  margin-bottom: 15px;
  line-height: 1.5; 
  text-indent: 20px; 
  flex-grow: 1;
}

#contact .map-container {
  width: 95%;
  margin: 20px 0px;
}

#contact .map-container .map {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: none;
}

#contact .group-contact-information {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#contact .group-contact-information .card-group-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#contact .group-contact-information .card-group-contact .card-contact {
  width: calc(50% - 20px); 
  padding: 20px;
  background-color: var(--cor-branca);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}

#contact .group-contact-information .card-group-contact .card-contact .card-vector {
  width: 50px;
  margin-right: 15px;
}

#contact .group-contact-information .card-group-contact .card-contact .information-group {
  display: flex;
  flex-direction: column;
}

#contact .group-contact-information .card-group-contact .card-contact .information-group .card-title,
#contact .group-contact-information .card-group-contact .card-contact .information-group .card-text {
  text-align: left; 
  margin-bottom: 5px; 
}

.footer {
  background-color: var(--cor-azul); 
  color: var(--cor-branca);
  text-align: center; 
  padding: 20px 0; 
  font-size: 16px; 
  line-height: 1.5; 
  border-top: 3px solid var(--cor-amarela); 
}

.footer .copyright-information {
  margin: 10px 0; 
  padding: 0 20px; 
}

@media only screen and (max-width: 999px) {
  .nav-list {
    flex-direction: column;
    position: absolute;
    width: 60%;
    height: 350px;
    top: 80px;
    left: -100%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    justify-content: space-around;
  }

  .nav-list.active {
      left: 0;
  }

  .nav-list a {
    font-size: 20px;
    padding: 20px 0px;
  }

  .mobile-menu {
      display: flex;
  }
  .section {
    padding: 40px 20px;
    margin: 60px 0;
  }

  .banner {
    margin-top: 60px;
    height: 70vh;
  }

  .banner-text {
    font-size: 30px;
  }

  .title {
    font-size: 24px;
  }

  .double-column {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .text {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
  }

  .image {
    width: 80%;
  }

  .card-group {
    flex-direction: column;
    align-items: center; 
    overflow-x: hidden; 
    gap: 10px; 
    padding: 10px 0;
  }

  .card-model {
    flex: 0 0 auto;
    width: 90%; 
    margin: 10px 0; 
  }

  .card-body {
    padding: 15px;
  }

  .card-title {
    margin-bottom: 5px;
  }

  .card-text {
    font-size: 14px;
  }

  .card-vector {
    width: 60px;
    margin-bottom: -15px;
  }

  @media only screen and (max-width: 999px) {
    #how-we-do .double-column {
      flex-direction: column;
      align-items: center;
    }
  
    #how-we-do .text {
      font-size: 18px;
      padding: 20px;
      margin: 0;
      text-align: center;
      max-width: 90%;
    }
  
    #how-we-do .card-group-topic {
      margin-top: 20px;
      padding: 20px;
      border-radius: 10px;
      max-width: 90%;
    }
  
    #how-we-do .card-text-topic {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 15px;
      text-indent: 0;
    }
  }
  
  
  #contact .group-contact-information .card-group-contact {
    max-width: 100%;
  }
  
  #contact .group-contact-information .card-group-contact .card-contact {
    width: calc(100% - 20px);
  }

  .footer {
    padding: 10px 0;
  }

  .footer .copyright-information {
    padding: 0 10px;
  }
}
